body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
}

input[type='text'], input[type='file'], .form-group textarea {
	width : 450px;
	margin : 0 auto;
	position : relative;
	padding-left : 20px;
}


.form-group textarea{
height: 150px;
margin-top:15px;
}

.main-content{
    width: 600px;
    margin:20px auto;
	padding-top : 25px;
	height:900px;
	background-color: #202e31;
	
}

.main-content select{
height:40px;
width:450px;
margin : 0 auto;
position : relative;
padding-left : 20px;
border-radius:3px;
}

h3{
	padding-bottom:0px;
}	

h4{
	padding-left:30px;
	padding-bottom:20px;
	color:grey;
}
.f1-buttons {
padding-top:20px;
padding-left:350px;
}

.f1 .input-error { border: 2px solid; border-color: #f35b3f;  }

input[type="submit"] {
min-width: 105px;
	height: 40px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
    color: #fff;
	background: #f35b3f;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}


input[type="submit"].btn:hover { opacity: 0.6; color: #fff; }
input[type="submit"].btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
input[type="submit"].btn:focus,
input[type="submit"].btn:active:focus,
input[type="submit"].btn.active:focus { outline: 0; opacity: 0.6; color: #fff; background: #f35b3f; }

.form-upload{
text-align:left;
}
.form-upload ul{
list-style:none;
padding:0px;
}
.form-upload ul li{
padding-top:20px;
display: inline-block;
color:black;
}

#upload-direct{
float:left;
}

.form-image{
text-align:left;
padding-left:70px;
padding-top:20px;
}

.sublabel{
color:grey;
font-size:14px;
}

.modal-title{
color:black
}

.modal-close {
    background-color:white;
    border:0px;
    position: absolute;
    top: 3px;
    right: 3px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}