
.navbar-brand{
    padding-top: 3px;
}

.navbar-login{
	padding-right: 50px;
}

.main-content{
	margin-top: 75px;
}

#requirement-list{
	margin-top: 10px;
}

#requirement-list button{
	height:60px;
	line-height: 20px;
	font-weight: 100; 
}

.carousel-bg{
    margin-top: 25px;
    margin-bottom: 25px;
}

.row-how-to{
    background-color: #2B2B2B;
    color: #FF8608;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
    height: 250px;
    margin-bottom: 30px;
    
}

.row-how-to-content{
    margin-top: 100px;
}

.info-one{
    padding-left: 50px;
     vertical-align: middle;
}

.info-center{
    padding-right: -10px;
    padding-right: -10px;
}

.info-last{
    padding-right: 50px;
}

#footer-img{
    margin: auto;
    padding-left: 5px;
}

.footer-info-col-1{
    width: 300px;
    margin: 0 auto;
    /*padding-left: 50px;*/
}

.footer-info-col-2{
     width: 300px;
    margin: 0 auto;
    /*padding-left: 50px;*/
}

.footer-info-col-3{
     width: 300px;
    margin: 0 auto;
}

.footer{
    background-color: #2B2B2B;
    color: whitesmoke;
}

.footer p{
    text-align: center;
}

.social-icons-set{
    width: 230px;
    margin: 0 auto;
}

.social-icons{
    list-style: none;
}
.social-icons li{
    display: inline-block;
    float: inherit;
}

.clear{
    clear: both;
}


.register-container
{
	padding: 15px;
	height : auto;
	margin: 0 auto;
	position: relative;	
}

.register-container .f1-buttons{
	padding :0 17px;
}

.modal-header{
	background : #2B2B2B;
}
.modal-header h4{
color : #fff;
}

.landing-main-content{
	margin-top : 50px;
	padding-top : 25px;
	height:500px;	
}


input[type="radio"]{
	padding-right:50px;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('images/gears.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}